
.small{font-size: 8px !important;}
.a4paper{
  width: 8.25in;
  height: 11.6in;
  display: block;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: .1in 0 0 .1in;
  page-break-after: always;
}

.barcode-single-item {
  display: block;
  overflow: hidden;
  text-align: center;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  float: left;
}

.barcode-item {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.pp40 {
  width: 1.799in;
  height: 1.003in;
  margin: 0 .07in;
  padding-top: .05in;
  border: 1px solid #ddd;
  margin-top: 2px;
}

.barcode-info-p {
  line-height: 15px !important;
  font-size: 8px !important;
  color: black !important;
  margin-bottom: 0;
}
