<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Representative Product Reciving</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Represtative</a></li>
            <li class="breadcrumb-item active">Reciving List</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Reciving List</h3>
                <div class="card-tools">

            </div>

            </div>
            <!-- /.card-header -->


            <div class="card-body">

                <!--form [formGroup]="form">

                    <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="pickerFrom" placeholder="Date" formControlName="fromDate"  [value]="date.value">
                                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                  <mat-datepicker #pickerFrom></mat-datepicker>
                                </mat-form-field>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerTo" placeholder="Date" formControlName="toDate"  [value]="date.value">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerTo></mat-datepicker>
                                  </mat-form-field>
                                </div>
                          </div>
                          <div class="col-md-4">
                              <button type="button" class="btn btn-primary float-left" (click)="dateFilter(form)">Filter</button>
                            </div>
                    </div>

                </form-->

                <div class="responsive-table table-mini">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Receipt No.</th>
                            <th>Total Qty</th>
                            <th>Date</th>
                            <th>Conforming</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngIf="loading">
                                    <td colspan="12" class="text-center loading-data">
                                        <mat-spinner></mat-spinner>
                                    </td>
                            </tr>
                                  <tr *ngIf="!loading && data && !data.data.length">
                                    <td colspan="12" class="text-center loading-data">
                                      No Data created yet!
                                    </td>
                                  </tr>

                                  <ng-container *ngIf="!loading">
                                    <tr *ngFor="let item of data.data; let i = index">
                                      <td>{{ i+1 }}</td>
                                      <td>{{ item.ref_no }}</td>
                                      <td>{{ item.total_quantity }}</td>
                                      <td>{{ item.date |  date:'dd/MM/yyyy'}}</td>
                                      <td>

                                         <p *ngIf="item.receiving">
                                            Already Conformed
                                         </p>

                                         <p *ngIf="!item.receiving">
                                            <button type="button" class="btn btn-success btn-sm float-left" (click)="updateConformed(item.id)">
                                                Conform Recipt
                                            </button>

                                          </p>


                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm float-left" (click)="toDetails(item.id)">
                                              View Recipt</button>

                                        </td>


                                    </tr>
                                  </ng-container>
                    </tbody>
                </table>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer clearfix">
                <!-- Pagination -->
            <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
            [page]="data.page" (pageChange)="loadData($event)" class="pagination pagination-sm m-0 float-right">
          </ngb-pagination>
          <!-- ./Pagination -->
            </div>


        </div>
    </div>
      </div>
    </div>
  </section>

</div>
<!-- Content Wrapper. Contains page content -->



