<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Product Challan/Reciving</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Represtative</a></li>
            <li class="breadcrumb-item active">Challan</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Reciving List/ Mr.  : {{ jwtHelper.name() }}

                </h3>

                <div class="card-tools">

                    <a  *ngIf="!loadingPermission" href="#" [routerLink]="['/representative/add-stock']" class="nav-link d-inline"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                    <span class="badge">Create Challan/Transfer</span></a>

                    <a *ngIf="!loadingPermission" href="#" [routerLink]="['/challan-product-report']" class="nav-link d-inline"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                    <span class="badge">View Report</span></a>

                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                      </button>


                 </div>

            </div>
            <!-- /.card-header -->


            <div class="card-body">

                <div class="row mb-3">

                 <div class="col-md-4">
                  <div class="form-group row" *ngIf="!loadingPermission">

                    <label class="col-sm-2 col-form-label">User</label>
                    <div class="col-sm-10">
                      <select class="form-control" (change)="changeSelection($event.target.value)"  *ngIf="!loadingUser">
                        <option [value]="0">--All--</option>
                        <option *ngFor="let list of users.data" [value]="list.id">
                          {{list.id}} :: {{list.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                 </div>

                  <div class="col-md-2">
                    <button type="button" *ngIf="!loadingPermission" class="btn btn-primary float-left" (click)="loadData(0)">All Find</button>
                    </div>


                    <div class="col-md-6">
                      <form [formGroup]="form">

                        <div class="row">
                          <div class="col-md-5">
                              <div class="form-group">
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="pickerFrom" placeholder="Date" formControlName="fromDate"  [value]="date.value">
                                      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                      <mat-datepicker #pickerFrom></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="pickerTo" placeholder="Date" formControlName="toDate"  [value]="date.value">
                                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerTo></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                              </div>
                              <div class="col-md-2">
                                  <button type="button" class="btn btn-primary float-left" (click)="dateFilter()">Filter</button>
                                </div>
                        </div>

                    </form>

                    </div>

                </div>


                <div class="table-responsive">
                <table class="table table-bordered table-mini">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Transaction No</th>
                            <th>Receipt/Challan No.</th>
                            <th>Date</th>
                               <th>Receiving</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngIf="loading">
                                    <td colspan="12" class="text-center loading-data">
                                        <mat-spinner></mat-spinner>
                                    </td>
                            </tr>
                                  <tr *ngIf="!loading && data && !data.data.length">
                                    <td colspan="12" class="text-center loading-data">
                                      No Data created yet!
                                    </td>
                                  </tr>

                                  <ng-container *ngIf="!loading">
                                    <tr *ngFor="let item of data.data; let i = index">
                                      <td>{{ i+1 }}</td>
                                      <td>{{ item.id }}</td>
                                      <td>{{ item.reference_no }}</td>
                                      <td>{{ item.date |  date:'dd/MMM/yyyy'}}</td>
                                      <td>

                                         <p *ngIf="item.receiving">
                                            <button type="button" class="btn btn-success btn-sm float-left" disabled>
                                          Confirmed
                                          </button>
                                         </p>

                                         <p *ngIf="!item.receiving">
                                            <button type="button" class="btn btn-success btn-sm float-left" (click)="updateConformed(item.id)">
                                                Confirmation
                                            </button>

                                          </p>


                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm float-left" (click)="toDetails(item.id)">
                                              View Recipt</button>

                                              <button type="button"  *ngIf="CanManage" class="btn btn-danger btn-sm float-left" (click)="initDelete(deleteModal, item)">
                                                Delete Recipt</button>

                                        </td>


                                    </tr>
                                  </ng-container>
                    </tbody>
                </table>
                </div>




              </div>
            <!-- /.card-body -->

            <div class="card-footer clearfix">
              ::Account with (ROLE_SALES_MANAGE) Can Delete Invoices::
                <!-- Pagination -->
            <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
            [page]="data.page" (pageChange)="loadData(0,$event)" class="pagination pagination-sm m-0 float-right">
          </ngb-pagination>
          <!-- ./Pagination -->
            </div>


        </div>
    </div>
      </div>
    </div>
  </section>

</div>
<!-- Content Wrapper. Contains page content -->



 <!--  delete confirmation modal -->
 <ng-template #deleteModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">Delete Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" [disabled]="deletingItem" (click)="delete(modal)">Delete</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./ delete confirmation modal -->


