<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Returns</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
              <li class="breadcrumb-item"><a>Sotock</a></li>
              <li class="breadcrumb-item active">Manage returns</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Bordered Table</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">


                        <form novalidate role="form" [formGroup]="myForm">
                            <div formArrayName="companies">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Return Quantity</th>
                                            <th>Unit Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let comp of myForm.get('companies')?.controls; let i=index; let i=index" [formGroupName]="i">

                                          <td>
                                                <div class="form-group">
                                                    {{i+1}}
                                                </div>
                                            </td>

                                            <td>
                                                <div class="form-group">
                                                   <input type="text" class="form-control" formControlName="product_name" readonly>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                   <input type="text" class="form-control" formControlName="quantity" readonly>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="form-group">
                                                   <input type="text" class="form-control" formControlName="quantity_return" >
                                                </div>
                                            </td>

                                            <td>
                                                <div class="form-group">
                                                   <input type="text" class="form-control" formControlName="mrp" readonly>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                      <button type="submit" class="btn btn-primary" (click)="saveReturn()">Submit</button>
                  </div>
                </div>
                <!-- /.card -->

              </div>
        </div>
      </div>
    </section>

  </div>
  <!-- Content Wrapper. Contains page content -->
