
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Roles</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Roles</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>



              <section class="content">
                  <div class="container-fluid">
                    <div class="row">


                            <div class="col-md-6">
                                <div class="card">
                                  <div class="card-header">
                                    <h3 class="card-title">Roles List</h3>
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body">
                                    <ng-container *ngIf="!loading">
                                    <tr *ngFor="let ur of data.data">
                                      <td (click)="populateForm(pd)">{{ur.id}}</td>
                                      <td (click)="populateForm(pd)">{{ur.name}}</td>
                                      <td>
                                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.PMId)"></i>
                                      </td>
                                    </tr>
                                </ng-container>

                                    <table class="table table-bordered">
                                      <tbody>
                                      <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                      </tr>
                                      <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td><span class="badge bg-danger"> </span></td>
                                      </tr>

                                    </tbody></table>
                                  </div>
                                  <!-- /.card-body -->
                                  <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                      <li class="page-item"><a class="page-link" href="#">«</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">»</a></li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- /.card -->

                              </div>
                              <!--Col md 6-->


                    </div><!-- /.row -->
                  </div><!-- /.container-fluid -->
                </section>





    </div>


