<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">




      <!--div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Sales Invoices</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Stock</a></li>
            <li class="breadcrumb-item active">Sales</li>
          </ol>
        </div>
      </div-->
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline">

            <div class="card-header">

              <h3 class="card-title">
                <i class="fas fa-th-list"></i>
                List Invoices
              </h3>

              <div class="card-tools">
                <a href="#" [routerLink]="['/sell/add']" class="nav-link d-inline"
                  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                  <span class="badge">New Invoice</span></a>

                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                  <i class="fas fa-expand"></i>
                </button>
              </div>

            </div>
            <!-- /.card-header -->

            <div class="card-body">


              <form [formGroup]="form">
                <div class="row mb-3">
                  <div class="col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput [matDatepicker]="pickerFrom" placeholder="Start Date" formControlName="fromDate"
                        [value]="date.value">
                      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFrom></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="full-width">
                      <input matInput [matDatepicker]="pickerTo" placeholder="End Date" formControlName="toDate"
                        [value]="date.value">
                      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                      <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2  my-auto">
                    <div class="form-field mb-3 ">
                      <button mat-raised-button (click)="loadData()">
                        Search
                      </button>
                    </div>

                  </div>

                  <div class="col-md-4 my-auto">
                    <div class="form-field mb-3">
                      <div class="input-group input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Invoice No" #input>
                      </div>
                    </div>
                  </div>

                </div>
              </form>


              <div class=" table-responsive">


                <table class="table table-bordered table-mini">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Order No</th>
                      <th>Invoice No</th>
                      <th>Date</th>
                      <th>To Customer</th>
                      <th>Amount</th>
                      <th>Paid</th>
                      <th>Sale by</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngIf="loading">
                      <td colspan="12" class="text-center loading-data">
                        <mat-progress-spinner class="corner-load" mode="indeterminate" diameter="40">
                        </mat-progress-spinner>
                      </td>
                    </tr>

                    <tr *ngIf="!loading && data && !data.data.length">
                      <td colspan="12" class="text-center loading-data">
                        No Data created yet!
                      </td>
                    </tr>

                    <ng-container *ngIf="!loading">
                      <tr *ngFor="let result of data.data; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{result.order_no}}</td>
                        <td>{{result.reference_no}}</td>
                        <td>{{result.date | date:'dd/MMM/yyyy' }}</td>
                        <td>{{result.client_name}}</td>
                        <td>{{result.total}}</td>
                        <td>{{result.paid}}</td>
                        <td>{{result.user_name}}</td>
                        <td>
                          <button mat-icon-button color="accent" matTooltip="view details invoice"
                            (click)="toDetails(result.id)">
                            <mat-icon class="mat-18">flip_to_front</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" matTooltip="Return Items"
                            (click)="refereToReturnSell(result.id)">
                            <mat-icon>refresh</mat-icon>
                          </button>
                          <!--button mat-icon-button color="accent" matTooltip="Edit invoice"
                    (click)="refereToEditInvoice(result.id)">
                        <mat-icon>edit</mat-icon>
                    </!--button-->
                          <button *ngIf="isRoleViewAll" mat-icon-button color="accent" matTooltip="Delete invoice"
                            (click)="initDelete(deleteModal, result)">
                            <mat-icon>restore_from_trash</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                </table>

              </div>
              <!--Responsive-->

            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              ::Account with (ROLE_SALES_MANAGE) Can Delete Invoices::

              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"
                    *ngIf="!loading && data">Showing Data {{ size }} of {{data.count}} entries, Page {{data.page}}</div>
                </div>

                <div class="col-sm-12 col-md-7">
                  <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
                    [page]="data.page" (pageChange)="loadData($event)" class="pagination pagination-sm m-0 float-right">
                  </ngb-pagination>
                </div>



              </div>


            </div>


          </div>
          <!-- /.card -->

        </div>


      </div>

      <!--div class="row">
        <div class="col-md-12">

          <mat-card class="mat-elevation">

              <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    List
                  </h3>

                  <div class="card-tools">
                      <button mat-icon-button color="accent" matTooltip="New invoice" (click)="refereToNewSell()">
                          <mat-icon>control_point</mat-icon>
                       </button>
                       <button mat-icon-button color="accent" matTooltip="Print List">
                          <mat-icon> local_printshop</mat-icon>
                       </button>
                  </div>
                </div>

                <div class="card-header text-center">
                    <mat-form-field>
                        <input matInput placeholder="Search Invoice" #input>
                    </mat-form-field>
                </div>


            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
              <mat-spinner></mat-spinner>
            </div>


            <mat-table class="lessons-table " [dataSource]="dataSource" matSort matSortActive="seqNo"
              matSortDirection="asc" matSortDisableClear>

              <ng-container matColumnDef="slNo" width="20px">

                <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                <mat-cell *matCellDef="let result">{{result.id}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="referenceNo">

                <mat-header-cell  *matHeaderCellDef>Invoice No</mat-header-cell>

                <mat-cell class="referenceNo-cell" *matCellDef="let result">{{result.reference_no}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell class="duration-cell" *matCellDef="let result">{{result.date}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Sale to Customer</mat-header-cell>
                  <mat-cell class="duration-cell" *matCellDef="let result">{{result.client_name}}</mat-cell>
                </ng-container>

              <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                <mat-cell class="duration-cell" *matCellDef="let result">{{result.total}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="paid">
                <mat-header-cell *matHeaderCellDef>Paid</mat-header-cell>
                <mat-cell class="duration-cell" *matCellDef="let result">{{result.paid}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="user">
                  <mat-header-cell *matHeaderCellDef>Sale by</mat-header-cell>
                  <mat-cell class="duration-cell" *matCellDef="let result">{{result.user_name}}</mat-cell>
                </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let result">
                  <button mat-icon-button color="accent"
                  matTooltip="view details invoice"
                   (click)="toDetails(result.id)">
                    <mat-icon class="mat-18">flip_to_front</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Return Items"
                   (click)="refereToReturnSell(result.id)">
                      <mat-icon>refresh</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Edit invoice"
                  (click)="refereToEditInvoice(result.id)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Delete invoice">
                    	<mat-icon>restore_from_trash</mat-icon>
                    </button>
                </mat-cell>


              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

            <mat-paginator [length]="dataSource.resultsLength" [pageSize]="10" [pageSizeOptions]="[10,20]">
            </mat-paginator>

          </mat-card>
        </div>

      </div-->
    </div>
  </section>

</div>


<!--  delete confirmation modal -->
<ng-template #deleteModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">Delete Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" [disabled]="deletingItem"
      (click)="delete(modal)">Delete</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./ delete confirmation modal -->


<!-- Content Wrapper. Contains page content -->
<!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/-->
