<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Damage List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
              <li class="breadcrumb-item"><a>Stock</a></li>
              <li class="breadcrumb-item active">Damage List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Damage Table</h3>
                      <div class="card-tools">
                        <a href="#" [routerLink]="['/damage-product-report']" class="nav-link d-inline"
                        [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                        <span class="badge">View Report</span></a>
                      </div>
                    </div>
                    <!-- /.card-header -->






                    <div class="table-mini">

                    <div class="card-body  responsive-table">

                      <div class="row">
                        <div class="col-md-8">
                          <!--form [formGroup]="form">
                            <div class="row mb-3">
                              <div class="col-md-3">
                                <mat-form-field class="full-width">
                                  <input matInput [matDatepicker]="pickerFrom" placeholder="Start Date" formControlName="fromDate"
                                    [value]="date.value">
                                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                  <mat-datepicker #pickerFrom></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="full-width">
                                  <input matInput [matDatepicker]="pickerTo" placeholder="End Date" formControlName="toDate"
                                    [value]="date.value">
                                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                  <mat-datepicker #pickerTo></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="col-md-2  my-auto">
                                <div class="form-field mb-3 ">
                                  <button mat-raised-button (click)="loadData()">
                                    Search
                                  </button>
                                </div>

                              </div>

                              <div class="col-md-4 my-auto">

                              </div>

                            </div>
                          </!--form-->

                        </div>

                      </div>


                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Ref.No</th>
                            <th>Details</th>
                            <th>Date</th>
                            <th>Note</th>
                            <th style="width: 40px">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="loading">
                                <td colspan="12" class="text-center loading-data">
                                    <mat-spinner></mat-spinner>
                                </td>
                              </tr>

                              <tr *ngIf="!loading && data && !data.data.length">
                                <td colspan="12" class="text-center loading-data">
                                  No Damage created yet!
                                </td>
                              </tr>

                              <ng-container *ngIf="!loading">
                                <tr *ngFor="let item of data.data; let i = index">
                                  <td>{{ i+1 }}</td>
                                  <td>{{ item.reference_no }}</td>

                                  <td >
                                    <span *ngFor="let DAMG of item.damages; let j = index">
                                      {{ j+1 }}-{{DAMG.product.name}} {{ DAMG.quantity }} Pcs <br>
                                    </span>

                                  </td>


                                  <td>{{ item.date  |  date:'dd/MMM/yyyy' }}</td>
                                  <td>{{ item.notes }}</td>
                                  <td class="actions">

                                        <div class="btn-group">
                                            <!--button type="button" class="btn btn-default" (click)="initSave(saveModal, item)"><i class="fa fa-pencil"></i></button-->
                                            <button type="button" *ngIf="CanManage" class="btn btn-default" (click)="initDelete(deleteModal, item)"><i class="fa fa-trash"></i></button>
                                          </div>

                                  </td>
                                </tr>
                              </ng-container>

                        </tbody>
                      </table>
                    </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      ::Account with (ROLE_PRODUCT_MANAGE) Can Delete Invoices::

                        <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
                        [page]="data.page" (pageChange)="loadData($event)" class="pagination pagination-sm m-0 float-right">
                      </ngb-pagination>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Content Wrapper. Contains page content -->



   <!--  delete confirmation modal -->
 <ng-template #deleteModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">Delete Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" [disabled]="deletingItem" (click)="delete(modal)">Delete</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./ delete confirmation modal -->

