<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
        <div class="text-center loading-data">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
          </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">

          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-bars"></i>
                    Attendance List</h3>
                  <div class="card-tools">
                    <a href="#" (click)="initSave(saveModal)" class="nav-link d-inline" routerLinkActive="active">
                      <span class="badge bg-primary"> <i class="fas fa-plus"></i> Add Attendance</span>
                    </a>

                  <button type="button" class="btn btn-tool" data-card-widget="collapse" [useExistingCss]="true"
                    printSectionId="print-section" ngxPrint><i class="fas fa-print"></i>
                  </button>

                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                      <i class="fas fa-expand"></i>
                    </button>
                  </div>
                </div>


                <div class="card-body">
                    <div class="row no-print mb-3">
                    <div class="col-md-12">
                      <form [formGroup]="form">
                        <div class="row text-right">

                          <div class="col-md-4">
                          </div>

                          <div class=" col-md-3">
                            <mat-form-field class="full-width">
                              <input matInput [matDatepicker]="pickerFrom" placeholder="Start Date"
                                formControlName="fromDate" [value]="date.value">
                              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                              <mat-datepicker #pickerFrom></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class=" col-md-3">
                            <mat-form-field class="full-width">
                              <input matInput [matDatepicker]="pickerTo" placeholder="End Date" formControlName="toDate"
                                [value]="date.value">
                              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                              <mat-datepicker #pickerTo></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class=" col-md-2  my-auto">
                              <button class="btn btn-block btn-default btn-sm " (click)="dateFilter()">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>

                        </div>
                      </form>
                    </div>
                  </div>



<div id="print-section">
    <div class="print">

      <!--HEADER-->
      <div class="print-only">
        <div class="row mb-3">
          <div class="col-md-12">
            <img src="/assets/images/trade-2.jpg" height="120">
          </div>
        </div>
        </div>

<div class="text-center">
    <h4>Attandance Report </h4>
    <p>From Date: <strong>{{fromDate| date: 'dd/MM/yyyy'}}</strong>  To: <strong>{{toDate |date: 'dd/MM/yyyy'}}</strong> </p>

</div>

        <div class="table-responsive">
                <table class="table table-bordered table-mini">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Employee</th>
                      <th>Date</th>
                      <th>Clock-In</th>
                      <th>Clock-Out</th>
                      <th>Location</th>
                      <th class="no-print">Action</th>
                    </tr>
                  </thead>
                  <tbody>

                      <tr *ngIf="!loading && data && !data.data.length">
                          <td colspan="12" class="text-center loading-data">
                            No Data created yet!
                          </td>
                        </tr>



                        <ng-container *ngIf="!loading">
                            <tr *ngFor="let result of data.data; let i = index;">
                              <td>{{ i+1 }}</td>
                              <td>{{result.user_name}}</td>
                              <td>{{result.date}}</td>
                              <td>{{result.clock_in}}</td>
                              <td>{{result.clock_out}}</td>
                              <td>{{result.location}}</td>

                              <td class="no-print">
                                <button mat-icon-button color="accent" matTooltip="Edit Row"
                                      (click)="initSave(saveModal, result)">
                                          <mat-icon>edit</mat-icon>
                                  </button>
                                <button mat-icon-button color="accent" matTooltip="Delete Row" (click)="initDelete(deleteModal, result)">
                                  <mat-icon>restore_from_trash</mat-icon>
                                </button>

                              </td>
                            </tr>
                          </ng-container>



                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>

        </div>

        </div>
        </div>


    </div>
  </section>



  <ng-template #saveModal let-modal>

      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title">
            {{ selectedRow.id ? ('Update Row: ' + selectedRow.id) : 'Create new  Attendance' }}

            <button type="button" class="btn btn-tool"  [disabled]="myForm.invalid">
                <i class="fas fa-check"></i>
              </button>
        </h4>


        <button type="button" class="close" aria-label="Close" (click)="close(modal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- ./Modal header -->

      <!-- Modal body -->
      <div class="modal-body">

        <div class="row">

          <div class="col-md-12">

              <mat-spinner class="loading-profiles" *ngIf="loading"></mat-spinner>


            <form  role="form"  [formGroup]="myForm">
                <div class="row">
                  <div class="col-md-12">

                    <div class="form-group" *ngIf="!loading">
                      <label for="name">Employe Name</label>
                      <select class="form-control" formControlName="employee_id">
                        <option value="null">--Select--</option>
                        <option *ngFor="let U of users.data" [value]="U.id">
                          {{U.name}} - {{U.id}}</option>
                      </select>
                    </div>
                  </div>
                </div>


                <div class="row">

                    <div class="col-md-12">

                      <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="pickerTo" placeholder="End Date" formControlName="todaydate"
                          [value]="date.value">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                      </mat-form-field>



                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group mx-auto" style="width: 200px;">
                                <label>In-Time:</label>
                                <ngb-timepicker   formControlName="clock_in"></ngb-timepicker>
                                 <!-- /.input group -->
                              </div>
                          </div>
                          <div class="col-md-6 col-xs-6">
                              <div class="form-group mx-auto" style="width: 200px;">
                                  <label>Out-Time:</label>
                                  <ngb-timepicker    formControlName="clock_out"></ngb-timepicker>
                                  <!-- /.input group -->

                                 </div>
                            </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                            <label>Note</label>
                            <input type="text" class="form-control" placeholder="Notes" formControlName="notes">
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" formControlName="status">
                              <option value="null">--Select--</option>
                              <option value="present">::Present</option>
                              <option value="late">::late</option>
                              <option value="absent">::Absent</option>


                            </select>
                          </div>
                        </div>

                      </div>

              </form>


          </div>
        </div>


       </div>
      <!-- ./Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger"  [disabled]="myForm.invalid"  (click)="save(modal)">Save</button>
      </div>
      <!-- ./Modal footer -->

    </ng-template>


     <!-- User delete confirmation modal -->
  <ng-template #deleteModal let-modal>

    <!-- Modal header -->
    <div class="modal-header">
      <h4 class="modal-title">Delete row</h4>
      <button type="button" class="close" aria-label="Close" (click)="close(modal)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- ./Modal header -->

    <!-- Modal body -->
    <div class="modal-body">
      <p>Are you sure you want to delete this row?</p>
    </div>
    <!-- ./Modal body -->

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" [disabled]="deletingRow" (click)="delete(modal)">Delete</button>
    </div>
    <!-- ./Modal footer -->

  </ng-template>
  <!-- ./User delete confirmation modal -->


</div>
<!-- Content Wrapper. Contains page content -->
