<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Products</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Security</a></li>
            <li class="breadcrumb-item active">Manage products</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Products

                      <a href="#" [routerLink]="['/product/edit',1]" class="nav-link d-inline"   [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><span class="badge bg-danger">Add New</span></a>

                  </h3>


                  <div class="card-tools">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <li class="page-item"><a class="page-link" href="#">«</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table">
                    <tbody>


                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Product Name</th>

                                <th style="width:20%">Action</th>
                            </tr>
                        </thead>


                      <tr *ngIf="loading">
                        <td colspan="12" class="text-center loading-data">
                          <mat-spinner></mat-spinner>
                        </td>
                      </tr>

                      <tr *ngIf="!loading && data && !data.data.length">
                        <td colspan="12" class="text-center loading-data">
                          No Data created yet!
                        </td>
                      </tr>

                      <ng-container *ngIf="!loading">
                        <tr *ngFor="let item of data.data; let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.name }}</td>
                          <td class="actions">


                              <ul class="nav nav-pills">
                                  <li>
                                      <a href="#" [routerLink]="['/product/edit',1]" class="nav-link"
                                   [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                                    <span class="badge bg-info">   <i class="fa fa-pencil"></i>
                                      Edit Product</span>
                                    </a>
                                  </li>


                                  <li>
                                      <a href="#" [routerLink]="['/product/edit',1]" class="nav-link"
                                   [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                                    <span class="badge bg-warning">   <i class="fa fa-eye"></i>
                                      View Product</span>
                                    </a>
                                  </li>

                                </ul>

                          </td>
                        </tr>
                      </ng-container>


                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
        </div>

      </div>
    </div>
  </section>

</div>
<!-- Content Wrapper. Contains page content -->
