<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Product</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
              <li class="breadcrumb-item"><a>Security</a></li>
              <li class="breadcrumb-item active">Manage product</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Product</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form  [formGroup]="form">
              <div class="card-body">
                                          
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" formControlName="product_name" placeholder="Enter ...">
                  </div>

                  <div class="form-group">                      
                    <label>Product Code</label>
                    <input type="text" class="form-control" 
                     formControlName="product_code" placeholder="Enter ...">
                  </div> 


                  <div class="form-group">
                    <label>Category</label>
                    <select class="form-control"   formControlName="product_category"  (change)="FillSubcategory($event.target.value)" >
                        <option *ngFor="let cat of categories" [value]="cat.id">
                        {{cat.category_name}}
                    </option>             
                    </select>
                  </div>
                  

                  <div class="form-group">
                    <label>Subcategory</label>
                    <select class="form-control"  formControlName="product_subcatrgory" >
                        <option *ngFor="let subcat of _subcategories" [value]="subcat.id">
                        {{subcat.subcategory_name}}
                    </option>             
                    </select>
                  </div>

                  <div class="form-group">                      
                        <label>Cost Price</label>
                        <input type="text" class="form-control" 
                         formControlName="product_code" placeholder="Enter ...">
                  </div> 
                  

                  <div class="form-group">                      
                        <label>MRP</label>
                        <input type="text" class="form-control" 
                         formControlName="product_code" placeholder="Enter ...">
                  </div> 

                  <div class="form-group">                      
                        <label>Minimum Retail Price</label>
                        <input type="text" class="form-control" 
                         formControlName="product_code" placeholder="Enter ...">
                      </div> 

                      <div class="form-group">                      
                            <label>Unit</label>
                            <input type="text" class="form-control" 
                             formControlName="product_code" placeholder="Enter ...">
                          </div> 

                          <div class="form-group">
                                <label>Status</label>
                                <select class="form-control"  formControlName="product_subcatrgory" >
                                    <option  [value]="1"> Active </option>   
                                     <option  [value]="0"> Active </option>            
                                </select>
                              </div>

                              <div class="form-group">                      
                                    <label>Details</label>
                                    <input type="text" class="form-control" 
                                     formControlName="product_code" placeholder="Enter ...">
                                  </div> 

                                  <div class="form-group">                      
                                        <label>Opening Stock</label>
                                        <input type="text" class="form-control" 
                                         formControlName="product_code" placeholder="Enter ...">
                                      </div> 

                                      <div class="form-group">
                                            <label for="exampleInputFile">Image</label>
                                            <div class="input-group">
                                              <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                              </div>
                                              <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                              </div>
                                            </div>
                                          </div> 
    

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="initForm()"
                    [disabled]="form.invalid || savingProduct">Save</button>
              </div>
            </form>
          </div>

      </div>

      <div class="col-md-6">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Simple Full Width Table</h3>

              <div class="card-tools">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th style="width: 40px">Label</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-danger">55%</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar bg-warning" style="width: 70%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-warning">70%</span></td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                      <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar bg-primary" style="width: 30%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-primary">30%</span></td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                      <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar bg-success" style="width: 90%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-success">90%</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

      </div>

        </div>
      </div>
    </section>
  
  </div>
  <!-- Content Wrapper. Contains page content -->
  