<div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <!--div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Represtative Stock</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
                  <li class="breadcrumb-item"><a>Stock</a></li>
                  <li class="breadcrumb-item active">Manage Represtative Stock</li>
                </ol>
              </div>
            </div-->
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
              <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Product Challan /Represtative Transfer</h3>
                    <div class="card-tools">
                      <a href="#" [routerLink]="['/representative']" class="nav-link d-inline"
                      [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                      <span class="badge">Receipt/(Challan)</span></a>

                      <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                      </button>
                  </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">

                      <div *ngIf="loading" class="text-center loading-profiles">
                          <mat-spinner></mat-spinner>
                        </div>


                    <form  role="form"  [formGroup]="myForm">

                  <div class="row" *ngIf="!loading">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="name">To Represtative Name</label>
                          <select class="form-control"  formControlName="user_id">
                              <option value="null">--Select--</option>
                              <option *ngFor="let U of users.data" [value]="U.id">
                              {{U.name}} - {{U.id}}</option>
                      </select>
                        </div>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <div class="form-group">
                      <mat-form-field  class="full-width">
                          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="bill_date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        </div>
                  </div>
            </div>

            <div class="row  table-responsive">
                <div class="col-md-12">
                  <div class="x">

                <div formArrayName="companies" class="x">
                <table class="table table-bordered stock-add-table table-mini" style="
                background: floralwhite;">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Product Name</th>
                            <th style="width: 150px">Stock</th>
                            <th style="width: 150px">Quantity</th>
                            <th style="width: 100px">MRP Price</th>
                            <th style="width: 100px">Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comp of myForm.get('companies')?.controls; let i=index; let i=index" [formGroupName]="i">

                          <td>
                                <div class="form-group">
                                    {{i+1}}
                                </div>
                            </td>

                            <td>
                                <div class="form-group" *ngIf="!loadingProducts">
                                    <select class="form-control"   formControlName="product_id" (change)="updatePrice($event.target,i)">
                                        <option value="null">--Select--</option>
                                        <option *ngFor="let product of _productList" [ngValue]="product.id">
                                           {{product.name}}   </option>
                                      </select>

                              </div>
                            </td>
                            <td>
                                <div class="form-group">
                                   <input type="text" class="form-control" formControlName="quantity" readonly>
                                </div>
                            </td>

                            <td>
                                <div class="form-group" (keypress)="summaryQty()">
                                   <input type="text" class="form-control" formControlName="add_quantity">
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                   <input type="text" class="form-control" formControlName="mrp" readonly>
                                </div>
                            </td>

                            <td >
                                <button class="btn btn-danger" (click)="deleteCompany(i)">-</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                          <td  colspan="3">
                              <button class="btn btn-success" (click)="addNewCompany()">Add Row</button>
                          </td>
                          <td></td>
                          <td  colspan="2">Quantity Total :{{ total }}</td>
                        </tr>
                    </tfoot>
                </table>
              </div>
            </div>

            </div>
            </div>

</form>
                  </div>

                  <div class="card-footer clearfix">
                      <button type="submit" class="btn btn-primary float-right" (click)="saveStock(myForm)" [disabled]="myForm.invalid || loading">Submit</button>
                  </div>


                  </div>


          </div>
        </section>

      </div>
      <!-- Content Wrapper. Contains page content -->
