<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Roles</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Security</a></li>
            <li class="breadcrumb-item active">Roles</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline">
            <div class="card-header">
              <h3 class="card-title">
                Roles List | Add new
                <i class="fa fa-plus" (click)="initSave(saveModal)"></i>
              </h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <div class="table-responsive">


              <table class="table table-bordered">

                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Code</th>
                    <th>Designation</th>
                    <th style="width: 20%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="loading">
                    <td colspan="6" class="text-center loading-data">
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      Loading data . .
                    </td>
                  </tr>

                  <tr *ngIf="!loading && data && !data.data.length">
                    <td colspan="6" class="text-center loading-data">
                      No roles created yet!
                    </td>
                  </tr>

                  <ng-container *ngIf="!loading">
                    <tr *ngFor="let item of data.data; let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ item.code }}</td>
                      <td>{{ item.designation }}</td>
                      <td class="actions">
                        <button *ngIf="CanManage"  type="button" class="btn  btn-success" (click)="initSave(saveModal, item)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button *ngIf="CanManage"  type="button" class="btn  btn-danger" >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>

                </tbody>
              </table>

              <p>**Must Refresh Session to obtain latest profile in User End</p>
            </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <!-- Pagination -->
              <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
                [page]="data.page" (pageChange)="loadData($event)" class="pagination pagination-sm m-0 float-right">
              </ngb-pagination>
              <!-- Pagination -->
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!--Col md 6-->


      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</div>



<!-- Role save modal -->
<ng-template #saveModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">
      {{ selectedRole.id ? ('Update role: ' + selectedRole.designation) : 'Create new role' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">

    <form [formGroup]="form">

      <!-- Code field -->
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" formControlName="code"
          [class.has-error]="form.get('code').dirty && form.get('code').invalid" />
      </div>
      <!-- ./Code field -->

      <!-- Code field validations container -->
      <div class="row" *ngIf="form.get('code').dirty && form.get('code').invalid">
        <div class="col-12">
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('code').dirty && form.controls['code'].hasError('required')">
            The code is required
          </div>
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('code').dirty && form.get('code').hasError('maxLength')">
            The code must be less than 255 Digits
          </div>
        </div>
      </div>
      <!-- ./Code field validations container -->

      <!-- Name field -->
      <div class="form-group">
        <label for="designation">Name</label>
        <input type="text" class="form-control" id="designation" formControlName="designation"
          [class.has-error]="form.get('designation').dirty && form.get('designation').invalid" />
      </div>
      <!-- ./designation field -->

      <!-- designation field validations container -->
      <div class="row" *ngIf="form.get('designation').dirty && form.get('designation').invalid">
        <div class="col-12">
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('designation').dirty && form.controls['designation'].hasError('required')">
            The Name is required
          </div>
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('designation').dirty && form.get('designation').hasError('maxLength')">
            The designation must be less than 255 digits
          </div>
        </div>
      </div>
      <!-- ./designation field validations container -->

    </form>

  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save(modal)"
      [disabled]="form.invalid || savingRole">Save</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./Role save modal -->
