


<form  [formGroup]="form" class="example-form" >
  <div>
  <mat-form-field class="full-width">
    <input matInput placeholder="Name"  formControlName="full_name">
  </mat-form-field>
</div>

<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Contact" formControlName="contact">
      </mat-form-field>
</div>
<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
</div>

<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Company" formControlName="company_name">
      </mat-form-field>
</div>


<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
</div>


<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Openning" formControlName="opening">
      </mat-form-field>
</div>


<div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Account" formControlName="account_no">
      </mat-form-field>
</div>

</form>


<mat-dialog-actions>
    <button  mat-button class="mat-raised-button float-right"(click)="save()">Save</button>
  <button  mat-button class="mat-raised-button float-right"(click)="close()">Close</button>
</mat-dialog-actions>
