<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">List Sales</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a>Stock</a></li>
            <li class="breadcrumb-item active">Sales</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-form-field>
              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Filter">
          </mat-form-field>
          <table [dataSource]="dataSource" mat-table matSort>

              <ng-container matColumnDef="date">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
                  <td *matCellDef="let element" mat-cell> {{element.season}} </td>
              </ng-container>

              <ng-container matColumnDef="invoice-no">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> InvoiceNo</th>
                  <td *matCellDef="let element" mat-cell> {{element.winner}} </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Customer Name</th>
                  <td *matCellDef="let element" mat-cell> {{element.runnerUp}} </td>
              </ng-container>

              <ng-container matColumnDef="net-total">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Net Total</th>
                  <td *matCellDef="let element" mat-cell> {{element.totalTeams}} </td>
              </ng-container>

              <ng-container matColumnDef="paid">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Paid</th>
                  <td *matCellDef="let element" mat-cell> {{element.totalTeams}} </td>
              </ng-container>




                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <div [ngClass]="expanded[i] == true ? 'floating-pane-active' : 'floating-pane-deactive'"
                        class="button-row">
                        <mat-icon mat-fab *ngIf="expanded[i] == true" color="primary" class="floating-buttons">offline_pin
                        </mat-icon>
                        <mat-icon mat-fab *ngIf="expanded[i] == true" color="primary" class="floating-buttons">query_builder
                        </mat-icon>
                        <mat-icon mat-fab *ngIf="expanded[i] == true" color="primary" class="floating-buttons" disabled>restore
                        </mat-icon>
                        <mat-icon mat-fab *ngIf="expanded[i] == true" color="primary" class="floating-buttons">
                          play_circle_filled</mat-icon>
                        <mat-icon (click)="toggleFloat(i)" class="sky_blue">more_horiz</mat-icon>
                      </div>
                    </td>
                  </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>

      </div>
    </div>
  </section>

</div>
<!-- Content Wrapper. Contains page content -->

