<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">

        <!--div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Purchases</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Home</a></li>
              <li class="breadcrumb-item"><a>Stock</a></li>
              <li class="breadcrumb-item active">Manage Purcsase</li>
            </ol>
          </div>
        </div-->
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">List Purchases


                        <a href="#" [routerLink]="['/purchase/add']" class="nav-link d-inline"
                        [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                          <span class="badge bg-primary">
                            <i class="nav-icon fas fa-cart-plus"></i>
                            New Invoice
                          </span>
                        </a>
                      <span class="badge bg-primary float-right">
                         <i class="nav-icon fas fa-search"></i>
                        Search</span>
                  </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Invoice No</th>
                        <th>Party Name</th>
                        <th>Total</th>
                        <th>Paid</th>
                        <th>Date</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="loading">
                            <td colspan="12" class="text-center loading-data">
                                <mat-spinner></mat-spinner>
                            </td>
                          </tr>
                          <tr *ngIf="!loading && data && !data.data.length">
                            <td colspan="12" class="text-center loading-data">
                              No category created yet!
                            </td>
                          </tr>

                          <ng-container *ngIf="!loading">
                        <tr *ngFor="let item of data.data; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{item.reference_no}}</td>
                        <td>{{item.client_name}}</td>
                        <td>{{item.net_total}}</td>
                        <td>{{item.paid}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <button mat-icon-button color="accent"
                  matTooltip="view details invoice"
                   (click)="toDetails(item.id)">
                    <mat-icon class="mat-18">flip_to_front</mat-icon>
                  </button>

                  <button mat-icon-button color="accent" matTooltip="Edit invoice"
                  (click)="refereToEditInvoice(result.id)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" matTooltip="Delete invoice">
                    	<mat-icon>restore_from_trash</mat-icon>
                    </button>

                        </td>
                      </tr>
                        </ng-container>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                <!-- Pagination -->
                <ngb-pagination *ngIf="!loading && data" [collectionSize]="data.count" [pageSize]="size"
                [page]="data.page" (pageChange)="loadData($event)" class="pagination pagination-sm m-0 float-right">
              </ngb-pagination>
              <!-- ./Pagination -->
                </div>
              </div>

                 <!--Card-->
            </div>

        </div>
      </div>
    </section>

  </div>
  <!-- Content Wrapper. Contains page content -->
